<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Zephyr Scale Test Results Listener" verbose="1" >

    <test name="Export Results for Simple Tests" parallel="none" >
        <classes>
            <class name="com.github.letsrokk.tm4j.tests.SimpleTestsTest" />
            <class name="com.github.letsrokk.tm4j.tests.RepeatableTestKeyTest" />
        </classes>
    </test>

    <test name="Export Results for DataProvider Tests" >
        <classes>
            <class name="com.github.letsrokk.tm4j.tests.DataProviderTestsTest" />
        </classes>
    </test>

</suite>